@let taskNoun = settings.promptNouns();

<h2 mat-dialog-title>Translate {{ taskNoun.singular }}</h2>

<mat-dialog-content>

  <label id="radio-group-label">Choose language to translate to:</label>
  <mat-radio-group
    aria-labelledby="radio-group-label"
    class="lang-radio-group"
    [(ngModel)]="selectedLanguageCode"
  >
    @for (langObj of translateLanguages; track langObj.languageCode) {
      <mat-radio-button
        class="lang-radio-button"
        [value]="langObj.languageCode"
      >
        {{langObj.languageDisplayName}}
      </mat-radio-button>
    }
  </mat-radio-group>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="''">Cancel</button>
  <button
    matButton="filled"
    [mat-dialog-close]="selectedLanguageCode"
    cdkFocusInitial
  >
    Translate
  </button>
</mat-dialog-actions>
