<h2 mat-dialog-title>Export generated descriptions</h2>

<mat-dialog-content>

  <label id="select-format-label">Choose export format:</label>
  <mat-radio-group
    aria-labelledby="select-format-label"
    class="export-format-radio-group"
    [(ngModel)]="selectedFormatOption">
    @for (opt of formatOptions; track opt.fileFormat) {
      <mat-radio-button [value]="opt">{{ opt.label }}</mat-radio-button>
    }
  </mat-radio-group>

  <mat-form-field class="filename-input">
    <mat-label>Filename</mat-label>
    <input matInput [(ngModel)]="filename">
    <span matTextSuffix>.{{ selectedFormatOption.fileExt }}</span>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{value: false}">Cancel</button>
  <button
    matButton="filled"
    [disabled]="filename | isEmptyString"
    [mat-dialog-close]="{
      value: true,
      selectedExportFormat: selectedFormatOption.fileFormat,
      filename
    }"
  >Export</button>
</mat-dialog-actions>
