<div class="settings-column-wrapper">
  <div class="parameters-wrapper">
    <h3>a) Image description settings</h3>
    <div class="form-field-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Language</mat-label>
        <mat-select
              [value]="settings.selectedLanguage$ | async"
              (valueChange)="setLanguage($event)"
              name="language"
        >
          @for (language of settings.languages$ | async; track language.code) {
            <mat-option [value]="language.code">{{ language.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field-wrapper">
      <div class="slider-wrapper">
        <div class="slider-label-wrapper">
          <label id="len-slider-label" class="slider-label">Approximate length:</label>
          <label class="slider-value-label">{{descLengthSlider.value}} characters</label>
        </div>
        <mat-slider
            [max]="descLengthMax"
            [min]="descLengthMin"
            [step]="25"
            [discrete]="true"
            [showTickMarks]="true"
        >
          <input matSliderThumb
                [value]="settings.selectedDescLength$ | async"
                (valueChange)="setDescLength($event)"
                #descLengthSlider
          >
        </mat-slider>
      </div>
    </div>
  </div>

  <div class="parameters-wrapper">
    <h3>b) Prompt settings</h3>
    <div class="form-field-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Prompt template</mat-label>
        <mat-select
              [value]="settings.selectedPromptTemplate$ | async"
              (valueChange)="setPromptTemplateType($event)"
              name="promptTemplate"
        >
          @for (template of settings.promptTemplates$ | async; track template.type) {
            <mat-option [value]="template.type">{{ template.type }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field-wrapper">
      <mat-slide-toggle
            color="primary"
            [checked]="settings.includeFilename$ | async"
            (change)="setIncludeFilename($event)"
      >Include image filename in prompt</mat-slide-toggle>
    </div>
  </div>

  <div class="parameters-wrapper">
    <h3>c) Model settings</h3>
    <div class="form-field-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>AI-model</mat-label>
        <mat-select
              [value]="settings.selectedModel$ | async"
              (valueChange)="setModel($event)"
              name="model"
        >
          @for (model of settings.availableModels$ | async; track model.id) {
            <mat-option [value]="model">{{model.provider}} {{model.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Advanced model settings
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="form-field-wrapper">
        <div class="slider-wrapper">
          <div class="slider-label-wrapper">
            <label id="temp-slider-label" class="slider-label">Temperature:</label>
            <label class="slider-value-label">{{temperatureSlider.value}}</label>
          </div>
          <mat-slider
              [max]="temperatureMax"
              [min]="temperatureMin"
              [step]="0.1"
              [discrete]="true"
              [showTickMarks]="true"
          >
            <input matSliderThumb
                  [value]="settings.selectedTemperature$ | async"
                  (valueChange)="setTemperature($event)"
                  #temperatureSlider
            >
          </mat-slider>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</div>