<div class="image-select-wrapper">
  <file-input
        label="Select image files (JPG, PNG)"
        acceptedFileTypes="image/png, image/jpeg"
        [multiple]="true"
        (filesSelected)="addImageFiles($event)"
  ></file-input>
  <div class="progress-wrapper">
    <mat-label>Progress:</mat-label>
    <mat-progress-bar
          mode="determinate"
          [value]="progressPercentage"
          [class.finished]="totalFileCount > 0 && processedCounter == totalFileCount"
    ></mat-progress-bar>
    <span>{{ processedCounter }} / {{ totalFileCount }}</span>
  </div>
  <p class="image-sum">
    Added images, total: {{ (imageListService.imageList$ | async)?.length ?? 0 }}
  </p>
</div>
