mat-dialog-content.mat-mdc-dialog-content {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.container {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  width: 100%;

  > div {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 50%;

    &.textarea-container {
      flex-direction: column;
    }
  }

  &.wider-img-container {
    > div {
      width: 66.6%;

      &.textarea-container {
        width: 33.4%;
      }
    }
  }

  img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }

  
  .dialog-actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  h2,
  mat-form-field,
  .dialog-actions {
    max-width: 600px;
    width: 100%;
  }

  @media (max-aspect-ratio: 1/1) {
    flex-direction: column;

    > div {
      height: 66.6%;
      width: 100% !important;

      &.textarea-container {
        height: 33.4%;
      }
    }

    &.wider-img-container {
      > div {
        height: 50%;
      }
    }
  }
}
