<div class="content-wrapper">
  <app-header></app-header>
  
  <div class="main-wrapper">
    <div class="intro-wrapper">
      <p>aBBi (“AI-bildbeskrivningar”) is a web app for generating image descriptions (e.g. alt texts) using AI.</p>
      <p>Start by defining your settings for the process and providing your API key, then select image files from your computer, and finally generate descriptions of them. You can download the descriptions in different formats or copy them to the clipboard individually.</p>
    </div>
  
    <mat-stepper [orientation]="(stepperOrientation | async)!" [linear]="true" #stepper>
      <!-- Step 1: Configure settings -->
      <mat-step label="Configure settings">
        <h2>Configure settings</h2>
        <settings-form></settings-form>
        <div class="stepper-nav">
          <button mat-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
  
      <!-- Step 2: Enter API key -->
      <mat-step [stepControl]="apiKeyFormGroup" label="Enter API key">
        <ng-container *ngIf="{ selectedModel: settings.selectedModel$ | async } as s">
          <h2>Enter your {{ s.selectedModel?.provider || '' }} API key</h2>
          <api-key-form
                [modelProvider]="s.selectedModel?.provider || ''"
                (formGroupOutput)="setApiKeyFormGroup($event)"
          ></api-key-form>
        </ng-container>
        <div class="stepper-nav">
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button mat-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
  
      <!-- Step 3: Add images -->
      <mat-step label="Add images" [completed]="((imageListService.imageList$ | async)?.length || false) && !addingImages">
        <h2>Add images</h2>
        <!-- Defer loading the add-images component until the browser is idle -->
        @defer (on idle) {
          <add-images (addingImages)="setAddingImages($event)"></add-images>
        } @loading (minimum 500ms) {
          <p>Loading component ...</p>
        } @error {
          <p>Error loading component for adding images. Please try to reload the web page.</p>
        }
        <div class="stepper-nav">
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button mat-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
  
      <!-- Step 4: Generate image descriptions -->
      <mat-step label="Generate descriptions">
        <h2 id="generate-step-title">Generate image descriptions</h2>
        <!-- Defer loading the generate-descriptions component until the API key in step 2 has validated -->
        @defer (when isApiKeyFormValid) {
          <generate-descriptions></generate-descriptions>
        } @loading (minimum 500ms) {
          <p>Loading component ...</p>
        } @error {
          <p>Error loading component for generating descriptions. Please try to reload the web page.</p>
        }
        <div class="stepper-nav">
          <button mat-button color="primary" matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
<div class="footer-wrapper">
  <footer>
    <p>
      Your data is safe: it’s not used to train any AI-models.<br>
      App version: <a href="https://github.com/slsfi/abbi-ng-ai-image-descriptor/releases/tag/1.1.0">1.1.0</a>.
    </p>
  </footer>
</div>
