.main-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.5rem 2rem 1.5rem;
  width: calc(100% - 3rem);
}

.intro-wrapper {
  margin-bottom: 3rem;
  max-width: 750px;

  p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

mat-stepper {
  .stepper-nav {
    border-top: 1px solid #dbdbdb;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
  }
}
