.banner {
  align-items: center;
  background-color: #dab9df;
  display: flex;
  height: auto;
  padding: 0;
  margin: 0 0 3rem 0;
  width: 100%;

  h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    position: relative;
    top: 1rem;
  }

  p {
    font-size: 2rem;
    line-height: 1.25;
    margin: 0;
  }
}

h3 {
  font-weight: 500;
}

.banner-content-wrapper,
.main-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.5rem;
  width: calc(100% - 3rem);
}

.main-wrapper {
  padding-bottom: 2rem;
}

.banner-content-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3rem 1.5rem 3rem 1.5rem;
}

.intro-wrapper {
  margin-bottom: 3rem;
  max-width: 750px;

  p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

mat-stepper {
  .stepper-nav {
    border-top: 1px solid #dbdbdb;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
  }
}

mat-expansion-panel.mat-expansion-panel {
  box-shadow: none;
}

mat-slide-toggle.mat-mdc-slide-toggle {
  --mdc-form-field-label-text-size: 1rem;
}

.settings-column-wrapper {
  column-gap: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 0;

  @media (max-width: 1110px) {
    justify-content: flex-start;
  }
}

.parameters-wrapper {
  > mat-form-field,
  > .form-field-wrapper {
    margin-bottom: 1rem;

    + mat-expansion-panel.mat-expansion-panel {
      margin-top: -1rem;
    }
  }
}

.image-select-wrapper {
  file-input {
    margin-bottom: 1.5rem;
  }

  .progress-wrapper {
    align-items: center;
    display: flex;
    margin-top: 2rem;

    mat-label {
      padding-right: 0.75rem;
    }

    mat-progress-bar {
      max-width: 300px;
    }

    span {
      padding-left: 0.75rem;
    }
  }

  p.image-sum {
    margin: 0 0 0.75rem 0;
    padding-top: 1rem;

    &.hide {
      opacity: 1;
    }
  }
}

.form-field-wrapper {
  align-items: center;
  display: flex;

  mat-form-field {
    width: 300px;
  }

  > :not(:first-child) {
    margin-top: -1.325rem;
    padding-left: 1rem;
  }

  > .adj-button {
    margin-left: 1rem;
  }

  mat-hint {
    min-height: 22px;
    
    &.valid-api-key {
      align-items: center;
      color: #257925;
      display: flex;

      mat-icon {
        padding-right: 0.5em;
      }
    }
  }

  .slider-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .slider-label-wrapper {
      display: flex;
      font-size: 1rem;
      justify-content: space-between;
      width: 100%;
    }

    mat-slider {
      margin: 0;
    }
  }
}

.file-input {
  display: block;
}

.buttons-row {
  align-items: center;;
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;

  .right-aligned {
    margin-left: auto;
  }
}

.no-images {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}

table {
  border-collapse: collapse;
  font-size: 1rem;
  margin: 2rem 0;
  width: 100%;
}

th,
td {
  border-bottom: 1px solid #a1a1a1;
  line-height: 1.5;
  padding: 0.75rem 2rem 0.75rem 0;
}

tr:last-of-type td {
  border-bottom: 0;
}

th {
  border-bottom: 1px solid #000;
}

th:last-of-type,
td:last-of-type {
  padding-right: 0;
}

th {
  font-weight: 500;
  text-align: left;

  &:last-of-type {
    text-align: right;
  }
}

td {
  &.preview-img {
    min-width: 200px;

    img {
      display: block;
      height: auto;
      max-width: 200px;
      width: 100%;
    }

    .filename {
      display: block;
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }
  }

  &.description {
    width: 100%;

    .description-text,
    .description-metadata {
      display: block;
    }

    .description-metadata {
      color: #575757;
      font-size: 0.875rem;
      margin-top: 0.375rem;
      text-align: right;
    }

    .not-generated {
      color: #4e4e4e;
      font-style: italic;
    }

    .loading-wrapper {
      display: flex;
      align-items: center;

      .spinner-label {
        padding-left: 0.75rem;
      }
    }
  }

  &.actions {
    text-align: right;

    button + button {
      margin-top: 0.5rem;
    }
  }
}
