form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem 1rem;

  mat-form-field {
    max-width: 300px;
    width: 100%;
  }

  mat-hint {
    min-height: 22px;
    
    &.valid-api-key {
      align-items: center;
      color: #257925;
      display: flex;

      mat-icon {
        padding-right: 0.5em;
      }
    }
  }

  file-input {
    margin-top: -1.25rem;
  }
}
