.generate-desc-wrapper {
  &.hide {
    display: none;
  }
}

.no-images {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 2rem 0;
  text-align: center;
}

.buttons-row {
  align-items: center;;
  display: flex;
  gap: 1rem;
  margin: 0;

  + .buttons-row {
    margin-top: 1.75rem;
  }

  .right-aligned {
    margin-left: auto;
  }

  .cost {
    font-size: 0.9375rem;
  }
}

table.main-table {
  border-collapse: collapse;
  box-shadow: none;
  font-size: 1rem;
  margin: 2rem 0;
  width: 100%;

  --mat-table-header-headline-size: 1rem;
  --mat-table-row-item-label-text-size: 1rem;
  --mat-table-footer-supporting-text-size: 1rem;
}

th,
td {
  border-bottom: 1px solid #dbdbdb;
  line-height: 1.5;
  padding: 0.75rem 2rem 0.75rem 0;
}

th {
  border-color: #a1a1a1;
  font-weight: 500;
  text-align: left;

  &:last-of-type {
    text-align: right;
  }
}

tr:last-child td {
  border-bottom: 1px solid #dbdbdb;
}

th:last-of-type,
td:last-of-type {
  padding-right: 0;
}

td {
  &.mat-column-imagePreview {
    min-width: 200px;

    img {
      display: block;
      height: auto;
      max-width: 200px;
      width: 100%;
    }

    .filename {
      display: block;
      font-size: 0.875rem;
      margin-top: 0.5rem;
    }
  }

  &.mat-column-description {
    width: 100%;

    .actions,
    .buttons-wrapper {
      align-items: center;
      display: flex;
    }

    .actions {
      column-gap: 2rem;
      flex-wrap: wrap;
      margin-top: 0.375rem;

      .counter {
        color: #575757;
        font-size: 0.875rem;
      }

      .copy-button:first-child {
        margin-left: 0.25rem;
      }

      button.mdc-icon-button {
        /* Reduces the size of mat-icon-buttons */
        align-items: center;
        display: flex;
        height: 32px;
        justify-content: center;
        width: 32px;
        padding: 0;

        mat-icon {
          font-size: 20px;
          height: 20px;
          width: 20px;
          --mdc-icon-button-state-layer-size: 20px;
        }

        &.delete-button mat-icon {
          color: #df0000;
        }
      }
    }

    .desc-data {
      margin: 0 0.75rem;
    }

    .desc-length {
      color: #575757;
      font-size: 0.875rem;
      margin: 0 0.75rem 0 auto;
    }

    .no-desc {
      color: #4e4e4e;
      font-style: italic;
    }

    .loading-wrapper {
      display: flex;
      align-items: center;

      .spinner-label {
        padding-left: 0.75rem;
      }
    }
  }

  &.mat-column-actions {
    text-align: right;

    button + button {
      margin-top: 0.5rem;
    }
  }
}
