@let taskNoun = settings.taskNouns();
@let selectedTaskType = settings.selectedTaskType();

@if ({ imageList: imageListService.imageList$ | async }; as o) {
  @if (!o.imageList?.length) {
    <p class="no-images">No images. Go back to the previous step to add some!</p>
  } @else {
    @if (selectedTaskType === 'transcriptionBatchTei') {

      <batch-plan [imageCount]="o.imageList?.length ?? 0"></batch-plan>
      <div class="generate-desc-wrapper">
        <div class="buttons-row">
          <button matButton="filled"
            (click)="generateAll()"
            [disabled]="generating || !o.imageList?.length"
          >Generate TEI transcriptions ({{ o.imageList?.length ?? 0 }} images)</button>

          <div class="cost right-aligned">
            Cumulative cost: ${{ this.costService.cumulativeCost() | number }}
          </div>
        </div>

        <div class="buttons-row">
          <button matButton="outlined"
            [disabled]="generating || !o.imageList?.length || exporting"
            (click)="exportTeiTranscriptions()"
          >
            @if (exporting) { Exporting TEI transcriptions... } @else { Export TEI transcriptions }
          </button>

          <button matButton="outlined"
            class="right-aligned warn-button"
            [disabled]="generating"
            (click)="removeAllImages()"
          >Remove all images</button>
        </div>
        <batch-results></batch-results>
      </div>

    } @else {
      <div class="generate-desc-wrapper" [class.hide]="!o.imageList?.length">
        <div class="buttons-row">
          <button matButton="filled"
            (click)="generateAll()"
            [disabled]="generating || !o.imageList?.length"
          >Generate all ({{ o.imageList?.length ?? 0 }} {{ ((o.imageList?.length ?? 2) > 1) ? 'images' : 'image' }})</button>
          <div class="cost right-aligned">Cumulative cost: ${{ this.costService.cumulativeCost() | number }}</div>
        </div>
        <div class="buttons-row">
          <button matButton="outlined"
            [disabled]="generating || !o.imageList?.length || exporting"
            (click)="export()"
          >
            @if (exporting) { Exporting {{ taskNoun.plural }}... } @else { Export {{ taskNoun.plural }} }
          </button>
          <button matButton="outlined"
            class="right-aligned warn-button"
            [disabled]="generating || !o.imageList?.length"
            (click)="removeAllImages()"
          >Remove all</button>
        </div>
        <div class="table-wrapper">
          <table mat-table [dataSource]="matTableDataSource" class="mat-elevation-z8 main-table">
            <!-- Image preview column -->
            <ng-container matColumnDef="imagePreview">
              <th mat-header-cell *matHeaderCellDef>Image preview</th>
              <td mat-cell *matCellDef="let file">
                <img [src]="file.base64Image" [height]="file.height" [width]="file.width" alt="Image">
                <span class="filename">{{ file.filename }}</span>
              </td>
            </ng-container>
            <!-- Description column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Generated {{ taskNoun.singular }}</th>
              <td mat-cell *matCellDef="let file">
                <div class="desc-data">
                  @if (file.generating) {
                    <span class="loading-wrapper">
                      <mat-spinner [diameter]="32"></mat-spinner><span class="spinner-label">Generating {{ teiEncoding() ? 'TEI encoding' : taskNoun.singular }}...</span>
                    </span>
                  } @else if (file.descriptions.length < 1) {
                    <span class="no-desc">No {{ taskNoun.singular }} generated.</span>
                  } @else {
                    <span class="desc-text" [class.tei-encoding]="file.descriptions[file.activeDescriptionIndex].teiEncoded">
                      {{ file.descriptions[file.activeDescriptionIndex].description }}
                    </span>
                  }
                </div>
                @if (file.descriptions.length > 0 && !file.generating) {
                  <div class="actions">
                    <div class="buttons-wrapper">
                      @if (file.descriptions.length > 1) {
                        <button matIconButton
                          [matTooltip]="`Show previous ${taskNoun.singular}`"
                          [attr.aria-label]="`Previous ${taskNoun.singular}`"
                          [disabled]="file.activeDescriptionIndex < 1"
                          (click)="previousDescription(file)"
                        >
                          <mat-icon>chevron_left</mat-icon>
                        </button>
                        <div class="counter">{{ file.activeDescriptionIndex + 1 }}/{{ file.descriptions.length }}</div>
                        <button matIconButton
                          [matTooltip]="`Show next ${taskNoun.singular}`"
                          [attr.aria-label]="`Next ${taskNoun.singular}`"
                          [disabled]="file.activeDescriptionIndex > file.descriptions.length - 2"
                          (click)="nextDescription(file)"
                        >
                          <mat-icon>chevron_right</mat-icon>
                        </button>
                      }
                      <button matIconButton
                        [matTooltip]="`Copy ${taskNoun.singular} to clipboard`"
                        class="copy-button"
                        [attr.aria-label]="`Copy ${taskNoun.singular} to clipboard`"
                        [cdkCopyToClipboard]="file.descriptions.length > 0 ? file.descriptions[file.activeDescriptionIndex].description : ''"
                      >
                        <mat-icon>content_copy</mat-icon>
                      </button>
                      <button matIconButton
                        [matTooltip]="`Edit ${taskNoun.singular}`"
                        class="edit-button"
                        [aria-label]="`Edit ${taskNoun.singular}`"
                        (click)="editDescription(file)"
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                      @if (selectedTaskType === 'altText') {
                        <button matIconButton
                          [matTooltip]="`Translate ${taskNoun.singular}`"
                          class="translate-button"
                          [attr.aria-label]="`Translate ${taskNoun.singular}`"
                          (click)="translateDescription(file)"
                        >
                          <mat-icon>translate</mat-icon>
                        </button>
                      }
                      <button matIconButton
                        [matTooltip]="`Delete ${taskNoun.singular}`"
                        class="delete-button"
                        [attr.aria-label]="`Delete ${taskNoun.singular}`"
                        (click)="deleteDescription(file)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <div class="desc-length">
                      Length: {{ file.descriptions[file.activeDescriptionIndex].description | characterCount }} characters
                    </div>
                  </div>
                }
              </td>
            </ng-container>
            <!-- Actions column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let file">
                <button matButton="outlined"
                  (click)="generate(file)"
                  [disabled]="generating"
                >{{ file.descriptions.length > 0 ? 'Regenerate' : 'Generate' }}</button>
                <button matButton="outlined"
                  class="warn-button"
                  (click)="removeImage(file)"
                  [disabled]="generating"
                >Remove image</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20, 50]"
            showFirstLastButtons
            aria-label="Select page"
            (page)="onPageChange($event)"
          ></mat-paginator>
        </div>
      </div>
    }
  }
}
