@use '@angular/material' as mat;

.generate-desc-wrapper {
  &.hide {
    display: none;
  }
}

.no-images {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 2rem 0;
  text-align: center;
}

.buttons-row {
  align-items: center;;
  display: flex;
  gap: 1rem;
  margin: 0;

  + .buttons-row {
    margin-top: 1.75rem;
  }

  .right-aligned {
    margin-left: auto;
  }

  .cost {
    font-size: 0.9375rem;
  }
}

table.main-table {
  border-collapse: collapse;
  box-shadow: none;
  font-size: 1rem;
  margin: 2rem 0;
  table-layout: fixed;
  width: 100%;

  --mat-table-header-headline-size: 1rem;
  --mat-table-row-item-label-text-size: 1rem;
  --mat-table-footer-supporting-text-size: 1rem;
}

th,
td {
  border-bottom: 1px solid #dbdbdb;
  line-height: 1.5;
  padding: 0.75rem 2rem 0.75rem 0;
}

th {
  border-color: #a1a1a1;
  font-weight: 500;
  text-align: left;

  &:last-of-type {
    text-align: right;
  }
}

tr:last-child td {
  border-bottom: 1px solid #dbdbdb;
}

th:last-of-type,
td:last-of-type {
  padding-right: 0;
}

td,
th {
  &.mat-column-imagePreview {
    width: 300px;

    @media (max-width: 990px) {
      width: 250px;
    }

    @media (max-width: 940px) {
      width: 200px;
    }

    @media (max-width: 870px) {
      width: 140px;
    }

    @media (max-width: 800px) {
      width: 100px;
    }
  }
}

td {
  &.mat-column-imagePreview {
    img {
      display: block;
      height: auto;
      width: 100%;
    }

    .filename {
      display: block;
      font-size: 0.875rem;
      margin-top: 0.5rem;
      word-break: break-all;
    }
  }
}

td,
th {
  &.mat-column-description {
    width: auto;
    min-width: 0;
  }
}

td {
  &.mat-column-description {
    overflow: hidden;

    .actions,
    .buttons-wrapper {
      align-items: center;
      display: flex;
    }

    .actions {
      column-gap: 2rem;
      flex-wrap: wrap;
      margin-top: 0.375rem;

      .counter {
        color: #575757;
        font-size: 0.875rem;
      }

      .copy-button:first-child {
        margin-left: 0.25rem;
      }

      button.mdc-icon-button {
        /* Reduces the size of matIconButtons */
        align-items: center;
        display: flex;
        height: 32px;
        justify-content: center;
        width: 32px;
        padding: 0;

        mat-icon {
          font-size: 20px;
          height: 20px;
          width: 20px;
          --matIconButton-state-layer-size: 20px;
        }

        &.delete-button mat-icon {
          color: #A82424;
        }
      }
    }

    .desc-data {
      margin: 0 0.75rem;
    }

    .desc-text {
      white-space: pre-line;
    }

    .tei-preview {
      background-color: #f7f7f9;
      border: 1px solid #dbdbdb;
      border-radius: 2px;
      max-width: 100%;
      overflow-x: auto;
      padding: 0.5em 0.75em;

      code {
        font-family: "Fira Code", monospace !important;
        font-weight: 400;
        font-size: 0.9375em;
        font-style: normal;
      }
    }

    .desc-length {
      color: #575757;
      font-size: 0.875rem;
      margin: 0 0.75rem 0 auto;
    }

    .no-desc {
      color: #4e4e4e;
      font-style: italic;
    }

    .loading-wrapper {
      display: flex;
      align-items: center;

      .spinner-label {
        padding-left: 0.75rem;
      }
    }
  }
}

td,
th {
  &.mat-column-actions {
    width: 155px;
  }
}

td {
  &.mat-column-actions {
    text-align: right;

    button + button {
      margin-top: 0.5rem;
    }
  }
}

.warn-button {
  @include mat.button-overrides((
    outlined-label-text-color: #A82424,
    outlined-outline-color: #A82424,
    outlined-state-layer-color: #b81515
  ));
}
