@let promptType = settings.promptNouns();

@if ({ imageList: imageListService.imageList$ | async }; as o) {
  <div class="generate-desc-wrapper" [class.hide]="!o.imageList?.length">
    <div class="buttons-row">
      <button matButton="filled"
        color="primary"
        (click)="generateImageDescriptionsAll()"
        [disabled]="generating || !o.imageList?.length"
      >Generate all ({{ o.imageList?.length ?? 0 }} {{ ((o.imageList?.length ?? 2) > 1) ? 'images' : 'image' }})</button>
      <div class="cost right-aligned">Cumulative cost: ${{ this.totalCost | number }}</div>
    </div>
    <div class="buttons-row">
      <button matButton="outlined"
        [disabled]="generating || !o.imageList?.length || exporting"
        (click)="export()"
      >
        @if (exporting) { Exporting... } @else { Export }
      </button>
      <button matButton="outlined"
        class="right-aligned"
        color="warn"
        [disabled]="generating || !o.imageList?.length"
        (click)="removeAllImages()"
      >Remove all</button>
    </div>
    <div class="table-wrapper">
      <table mat-table [dataSource]="matTableDataSource" class="mat-elevation-z8 main-table">
        <!-- Image preview column -->
        <ng-container matColumnDef="imagePreview">
          <th mat-header-cell *matHeaderCellDef>Image preview</th>
          <td mat-cell *matCellDef="let file">
            <img [src]="file.base64Image" [height]="file.height" [width]="file.width" alt="Image">
            <span class="filename">{{ file.filename }}</span>
          </td>
        </ng-container>
        <!-- Description column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Generated {{ promptType.singular }}</th>
          <td mat-cell *matCellDef="let file">
            <div class="desc-data">
              @if (file.generating) {
                <span class="loading-wrapper">
                  <mat-spinner [diameter]="32"></mat-spinner><span class="spinner-label">Generating {{ promptType.singular }}...</span>
                </span>
              } @else if (file.descriptions.length < 1) {
                <span class="no-desc">No {{ promptType.singular }} generated.</span>
              } @else {
                <span class="desc-text">
                  {{ file.descriptions[file.activeDescriptionIndex].description }}
                </span>
              }
            </div>
            @if (file.descriptions.length > 0 && !file.generating) {
              <div class="actions">
                <div class="buttons-wrapper">
                  @if (file.descriptions.length > 1) {
                    <button matIconButton color="primary"
                      [matTooltip]="`Show previous ${promptType.singular}`"
                      [attr.aria-label]="`Previous ${promptType.singular}`"
                      [disabled]="file.activeDescriptionIndex < 1"
                      (click)="previousDescription(file)"
                    >
                      <mat-icon>chevron_left</mat-icon>
                    </button>
                    <div class="counter">{{ file.activeDescriptionIndex + 1 }}/{{ file.descriptions.length }}</div>
                    <button matIconButton color="primary"
                      [matTooltip]="`Show next ${promptType.singular}`"
                      [attr.aria-label]="`Next ${promptType.singular}`"
                      [disabled]="file.activeDescriptionIndex > file.descriptions.length - 2"
                      (click)="nextDescription(file)"
                    >
                      <mat-icon>chevron_right</mat-icon>
                    </button>
                  }
                  <button matIconButton color="primary"
                    [matTooltip]="`Copy ${promptType.singular} to clipboard`"
                    class="copy-button"
                    [attr.aria-label]="`Copy ${promptType.singular} to clipboard`"
                    [cdkCopyToClipboard]="file.descriptions.length > 0 ? file.descriptions[file.activeDescriptionIndex].description : ''"
                  >
                    <mat-icon>content_copy</mat-icon>
                  </button>
                  <button matIconButton color="primary"
                    [matTooltip]="`Edit ${promptType.singular}`"
                    class="edit-button"
                    [aria-label]="`Edit ${promptType.singular}`"
                    (click)="editDescription(file)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button matIconButton color="primary"
                    [matTooltip]="`Translate ${promptType.singular}`"
                    class="translate-button"
                    [attr.aria-label]="`Translate ${promptType.singular}`"
                    (click)="translateDescription(file)"
                  >
                    <mat-icon>translate</mat-icon>
                  </button>
                  <button matIconButton
                    [matTooltip]="`Delete ${promptType.singular}`"
                    class="delete-button"
                    [attr.aria-label]="`Delete ${promptType.singular}`"
                    (click)="deleteDescription(file)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div class="desc-length">
                  Length: {{ file.descriptions[file.activeDescriptionIndex].description | characterCount }} characters
                </div>
              </div>
            }
          </td>
        </ng-container>
        <!-- Actions column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let file">
            <button matButton="outlined"
              (click)="generateImageDescription(file)"
              [disabled]="generating"
            >{{ file.descriptions.length > 0 ? 'Regenerate' : 'Generate' }}</button>
            <button matButton="outlined"
              color="warn"
              (click)="removeImage(file)"
              [disabled]="generating"
            >Remove image</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons
        aria-label="Select page"
        (page)="onPageChange($event)"
      ></mat-paginator>
    </div>
  </div>
  <!-- Empty image list -->
  @if (!o.imageList?.length) {
    <p class="no-images">No images. Go back to the previous step to add some!</p>
  }
}
