@use '@angular/material' as mat;

:host {
  display: block;
  margin-top: 2rem;
}

.batch-result-wrapper {
  margin: 1em 0;
  padding: 1em;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid transparent;
}

.batch-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.batch-title {
  display: flex;
  align-items: center;
  min-height: 40px;

  h3 {
    margin: 0;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.batch-result {
  margin: 1em 0 0 0;
}

.batch-status {
  display: flex;
  align-items: center;
  gap: 0.75em;

  p {
    margin: 0;
  }
}

.preview {
  background-color: #f7f7f9;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  overflow-x: auto;
  padding: 0.5em 0.75em;

  code {
    font-family: "Fira Code", monospace !important;
    font-weight: 400;
    font-size: 0.9375em;
    font-style: normal;
  }
}

.batch-generating {
  mat-icon {
    display: inline-block;
    animation: mat-rotate 1s linear infinite;
    transform-origin: center;

    @keyframes mat-rotate {
      from { transform: rotate(0deg); }
      to   { transform: rotate(360deg); }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    mat-icon { animation: none; }
  }
}

.warn-button,
.batch-error mat-icon {
  @include mat.icon-overrides((
    color: #A82424,
  ));
}

.batch-pending,
.batch-generating {
  mat-icon {
    @include mat.icon-overrides((
      color: #0622c2,
    ));
  }
}
