.file-upload {
  margin: 1rem 0;

  label {
    background-color: var(--mdc-filled-button-container-color);
    border-radius: var(--mdc-filled-button-container-shape);
    border-width: 0;
    color: var(--mdc-filled-button-label-text-color);
    cursor: pointer;
    font-family: var(--mdc-filled-button-label-text-font);
    font-size: var(--mdc-filled-button-label-text-size);
    font-weight: var(--mdc-filled-button-label-text-weight);
    height: auto;
    letter-spacing: var(--mdc-filled-button-label-text-tracking);
    padding: 10.5px 24px;

    &:hover {
      opacity: 0.92;
    }

    &:active {
      opacity: 0.84;
    }

    &.stroked {
      background-color: transparent;
      border: 1px solid var(--mdc-outlined-button-outline-color);
      color: var(--mdc-outlined-button-label-text-color);

      &:hover {
        background-color: var(--mat-slider-hover-state-layer-color);
      }
  
      &:active {
        background-color: var(--mat-outlined-button-ripple-color);
      }
    }
  }

  input[type="file"] {
    opacity: 0;
  }
}
